.wpe-what-to-do .wpe-services span::before,
.wpe-theme-text-color{
	color: #04004d !important;
}
.wpe-main a.cart span, 
.wpe-form form button, 
.wpe-btn, 
.wpe-services.wpe-more a,
.pro-plugins .wpe-plugins:hover>a,
.wpe-theme-bg-color{
	background-color: #527ceb;
}
.wpe-main a.profile span, 
.wpe-form form input, 
.wpe-feat-area h1 span, 
.wpe-what-to-do .wpe-services h3:hover,
.pro-plugins .wpe-plugins>i>a,
.pro-themes .wpe-box-2 .wpe-part-1>a svg,
.wpe-assistance .box a,
.wpe-assistance .box a svg,
.wpe-theme-text-color-light{
	color: #527ceb;
}
.wpe-text-white, 
.wpe-btn, 
.wpe-form form button,
.pro-plugins .wpe-plugins:hover a svg,
.wpe-main a.cart span,
.wpe-btn:hover{
	color: white;
}
.wpe-bg-white{
    background-color: white !important;
}
footer, .wpe-bottom-bar{
    background-color: #001b72;
}
.wpe-footer p{
    color: #eaeaea;
}
.wpe-bg-light{
    background-color: #f3f6fa;
}
.wpe-what-to-do p, 
.pro-plugins .wpe-plugins p,
.wpe-grey-color{
    color: #666666;
}
.wpe-heading span::after,
.wpe-reviews .wpe-content span::after{
    background-color: #9a9a9a;
}
.bg-1{
    background-color: #fde5e4;
}
.bg-2{
    background-color: #fef9d6;
}
.bg-3{
    background-color: #e9f4f2;
}
.wpe-assistance .box a,
.wpe-btn:hover{
    border-color: #527ceb;
}
.wpe-log form input::placeholder,
.wpe-price-box .wpe-list,
.wpe-drag ul.wpe-list,
.pro-plugins .wpe-plugins>a svg,
.pro-plugins .wpe-view-all>a svg,
.pro-themes .wpe-view-all>a svg{
    color: #666666;
}
.wpe-price-box span i,
.pro-plugins .wpe-view-all>a,
.pro-themes .wpe-view-all>a{
    color: #333333;
}