@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Black.eot');
    src: url('../fonts/Objectivity-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Black.woff2') format('woff2'),
    url('../fonts/Objectivity-Black.woff') format('woff'),
    url('../fonts/Objectivity-Black.ttf') format('truetype'),
    url('../fonts/Objectivity-Black.svg#Objectivity-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Black_1.eot');
    src: url('../fonts/Objectivity-Black_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Black_1.woff2') format('woff2'),
    url('../fonts/Objectivity-Black_1.woff') format('woff'),
    url('../fonts/Objectivity-Black_1.ttf') format('truetype'),
    url('../fonts/Objectivity-Black_1.svg#Objectivity-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-BlackSlanted.eot');
    src: url('../fonts/Objectivity-BlackSlanted.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-BlackSlanted.woff2') format('woff2'),
    url('../fonts/Objectivity-BlackSlanted.woff') format('woff'),
    url('../fonts/Objectivity-BlackSlanted.ttf') format('truetype'),
    url('../fonts/Objectivity-BlackSlanted.svg#Objectivity-BlackSlanted') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Bold.eot');
    src: url('../fonts/Objectivity-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Bold.woff2') format('woff2'),
    url('../fonts/Objectivity-Bold.woff') format('woff'),
    url('../fonts/Objectivity-Bold.ttf') format('truetype'),
    url('../fonts/Objectivity-Bold.svg#Objectivity-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-BlackSlanted_1.eot');
    src: url('../fonts/Objectivity-BlackSlanted_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-BlackSlanted_1.woff2') format('woff2'),
    url('../fonts/Objectivity-BlackSlanted_1.woff') format('woff'),
    url('../fonts/Objectivity-BlackSlanted_1.ttf') format('truetype'),
    url('../fonts/Objectivity-BlackSlanted_1.svg#Objectivity-BlackSlanted') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-BoldSlanted.eot');
    src: url('../fonts/Objectivity-BoldSlanted.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-BoldSlanted.woff2') format('woff2'),
    url('../fonts/Objectivity-BoldSlanted.woff') format('woff'),
    url('../fonts/Objectivity-BoldSlanted.ttf') format('truetype'),
    url('../fonts/Objectivity-BoldSlanted.svg#Objectivity-BoldSlanted') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Bold_1.eot');
    src: url('../fonts/Objectivity-Bold_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Bold_1.woff2') format('woff2'),
    url('../fonts/Objectivity-Bold_1.woff') format('woff'),
    url('../fonts/Objectivity-Bold_1.ttf') format('truetype'),
    url('../fonts/Objectivity-Bold_1.svg#Objectivity-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-BoldSlanted_1.eot');
    src: url('../fonts/Objectivity-BoldSlanted_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-BoldSlanted_1.woff2') format('woff2'),
    url('../fonts/Objectivity-BoldSlanted_1.woff') format('woff'),
    url('../fonts/Objectivity-BoldSlanted_1.ttf') format('truetype'),
    url('../fonts/Objectivity-BoldSlanted_1.svg#Objectivity-BoldSlanted') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ExtraBold.eot');
    src: url('../fonts/Objectivity-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-ExtraBold.woff2') format('woff2'),
    url('../fonts/Objectivity-ExtraBold.woff') format('woff'),
    url('../fonts/Objectivity-ExtraBold.ttf') format('truetype'),
    url('../fonts/Objectivity-ExtraBold.svg#Objectivity-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Light.eot');
    src: url('../fonts/Objectivity-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Light.woff2') format('woff2'),
    url('../fonts/Objectivity-Light.woff') format('woff'),
    url('../fonts/Objectivity-Light.ttf') format('truetype'),
    url('../fonts/Objectivity-Light.svg#Objectivity-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ExtraBoldSlanted.eot');
    src: url('../fonts/Objectivity-ExtraBoldSlanted.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-ExtraBoldSlanted.woff2') format('woff2'),
    url('../fonts/Objectivity-ExtraBoldSlanted.woff') format('woff'),
    url('../fonts/Objectivity-ExtraBoldSlanted.ttf') format('truetype'),
    url('../fonts/Objectivity-ExtraBoldSlanted.svg#Objectivity-ExtraBoldSlanted') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ExtraBoldSlanted_1.eot');
    src: url('../fonts/Objectivity-ExtraBoldSlanted_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-ExtraBoldSlanted_1.woff2') format('woff2'),
    url('../fonts/Objectivity-ExtraBoldSlanted_1.woff') format('woff'),
    url('../fonts/Objectivity-ExtraBoldSlanted_1.ttf') format('truetype'),
    url('../fonts/Objectivity-ExtraBoldSlanted_1.svg#Objectivity-ExtraBoldSlanted') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ExtraBold_1.eot');
    src: url('../fonts/Objectivity-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-ExtraBold_1.woff2') format('woff2'),
    url('../fonts/Objectivity-ExtraBold_1.woff') format('woff'),
    url('../fonts/Objectivity-ExtraBold_1.ttf') format('truetype'),
    url('../fonts/Objectivity-ExtraBold_1.svg#Objectivity-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Medium.eot');
    src: url('../fonts/Objectivity-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Medium.woff2') format('woff2'),
    url('../fonts/Objectivity-Medium.woff') format('woff'),
    url('../fonts/Objectivity-Medium.ttf') format('truetype'),
    url('../fonts/Objectivity-Medium.svg#Objectivity-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Medium_1.eot');
    src: url('../fonts/Objectivity-Medium_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Medium_1.woff2') format('woff2'),
    url('../fonts/Objectivity-Medium_1.woff') format('woff'),
    url('../fonts/Objectivity-Medium_1.ttf') format('truetype'),
    url('../fonts/Objectivity-Medium_1.svg#Objectivity-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-LightSlanted.eot');
    src: url('../fonts/Objectivity-LightSlanted.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-LightSlanted.woff2') format('woff2'),
    url('../fonts/Objectivity-LightSlanted.woff') format('woff'),
    url('../fonts/Objectivity-LightSlanted.ttf') format('truetype'),
    url('../fonts/Objectivity-LightSlanted.svg#Objectivity-LightSlanted') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-LightSlanted_1.eot');
    src: url('../fonts/Objectivity-LightSlanted_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-LightSlanted_1.woff2') format('woff2'),
    url('../fonts/Objectivity-LightSlanted_1.woff') format('woff'),
    url('../fonts/Objectivity-LightSlanted_1.ttf') format('truetype'),
    url('../fonts/Objectivity-LightSlanted_1.svg#Objectivity-LightSlanted') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Light_1.eot');
    src: url('../fonts/Objectivity-Light_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Light_1.woff2') format('woff2'),
    url('../fonts/Objectivity-Light_1.woff') format('woff'),
    url('../fonts/Objectivity-Light_1.ttf') format('truetype'),
    url('../fonts/Objectivity-Light_1.svg#Objectivity-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-RegularSlanted.eot');
    src: url('../fonts/Objectivity-RegularSlanted.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-RegularSlanted.woff2') format('woff2'),
    url('../fonts/Objectivity-RegularSlanted.woff') format('woff'),
    url('../fonts/Objectivity-RegularSlanted.ttf') format('truetype'),
    url('../fonts/Objectivity-RegularSlanted.svg#Objectivity-RegularSlanted') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Regular.eot');
    src: url('../fonts/Objectivity-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Regular.woff2') format('woff2'),
    url('../fonts/Objectivity-Regular.woff') format('woff'),
    url('../fonts/Objectivity-Regular.ttf') format('truetype'),
    url('../fonts/Objectivity-Regular.svg#Objectivity-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-MediumSlanted.eot');
    src: url('../fonts/Objectivity-MediumSlanted.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-MediumSlanted.woff2') format('woff2'),
    url('../fonts/Objectivity-MediumSlanted.woff') format('woff'),
    url('../fonts/Objectivity-MediumSlanted.ttf') format('truetype'),
    url('../fonts/Objectivity-MediumSlanted.svg#Objectivity-MediumSlanted') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Regular_1.eot');
    src: url('../fonts/Objectivity-Regular_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Regular_1.woff2') format('woff2'),
    url('../fonts/Objectivity-Regular_1.woff') format('woff'),
    url('../fonts/Objectivity-Regular_1.ttf') format('truetype'),
    url('../fonts/Objectivity-Regular_1.svg#Objectivity-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-RegularSlanted_1.eot');
    src: url('../fonts/Objectivity-RegularSlanted_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-RegularSlanted_1.woff2') format('woff2'),
    url('../fonts/Objectivity-RegularSlanted_1.woff') format('woff'),
    url('../fonts/Objectivity-RegularSlanted_1.ttf') format('truetype'),
    url('../fonts/Objectivity-RegularSlanted_1.svg#Objectivity-RegularSlanted') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-MediumSlanted_1.eot');
    src: url('../fonts/Objectivity-MediumSlanted_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-MediumSlanted_1.woff2') format('woff2'),
    url('../fonts/Objectivity-MediumSlanted_1.woff') format('woff'),
    url('../fonts/Objectivity-MediumSlanted_1.ttf') format('truetype'),
    url('../fonts/Objectivity-MediumSlanted_1.svg#Objectivity-MediumSlanted') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Thin.eot');
    src: url('../fonts/Objectivity-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Thin.woff2') format('woff2'),
    url('../fonts/Objectivity-Thin.woff') format('woff'),
    url('../fonts/Objectivity-Thin.ttf') format('truetype'),
    url('../fonts/Objectivity-Thin.svg#Objectivity-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-SuperSlanted.eot');
    src: url('../fonts/Objectivity-SuperSlanted.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-SuperSlanted.woff2') format('woff2'),
    url('../fonts/Objectivity-SuperSlanted.woff') format('woff'),
    url('../fonts/Objectivity-SuperSlanted.ttf') format('truetype'),
    url('../fonts/Objectivity-SuperSlanted.svg#Objectivity-SuperSlanted') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-SuperSlanted_1.eot');
    src: url('../fonts/Objectivity-SuperSlanted_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-SuperSlanted_1.woff2') format('woff2'),
    url('../fonts/Objectivity-SuperSlanted_1.woff') format('woff'),
    url('../fonts/Objectivity-SuperSlanted_1.ttf') format('truetype'),
    url('../fonts/Objectivity-SuperSlanted_1.svg#Objectivity-SuperSlanted') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Thin_1.eot');
    src: url('../fonts/Objectivity-Thin_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Thin_1.woff2') format('woff2'),
    url('../fonts/Objectivity-Thin_1.woff') format('woff'),
    url('../fonts/Objectivity-Thin_1.ttf') format('truetype'),
    url('../fonts/Objectivity-Thin_1.svg#Objectivity-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Super.eot');
    src: url('../fonts/Objectivity-Super.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Super.woff2') format('woff2'),
    url('../fonts/Objectivity-Super.woff') format('woff'),
    url('../fonts/Objectivity-Super.ttf') format('truetype'),
    url('../fonts/Objectivity-Super.svg#Objectivity-Super') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Super_1.eot');
    src: url('../fonts/Objectivity-Super_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Objectivity-Super_1.woff2') format('woff2'),
    url('../fonts/Objectivity-Super_1.woff') format('woff'),
    url('../fonts/Objectivity-Super_1.ttf') format('truetype'),
    url('../fonts/Objectivity-Super_1.svg#Objectivity-Super') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-BoldItalic.eot');
    src: url('../fonts/Quicksand-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-BoldItalic.woff2') format('woff2'),
    url('../fonts/Quicksand-BoldItalic.woff') format('woff'),
    url('../fonts/Quicksand-BoldItalic.ttf') format('truetype'),
    url('../fonts/Quicksand-BoldItalic.svg#Quicksand-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.eot');
    src: url('../fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Bold.woff2') format('woff2'),
    url('../fonts/Quicksand-Bold.woff') format('woff'),
    url('../fonts/Quicksand-Bold.ttf') format('truetype'),
    url('../fonts/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.eot');
    src: url('../fonts/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Light.woff2') format('woff2'),
    url('../fonts/Quicksand-Light.woff') format('woff'),
    url('../fonts/Quicksand-Light.ttf') format('truetype'),
    url('../fonts/Quicksand-Light.svg#Quicksand-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-LightItalic.eot');
    src: url('../fonts/Quicksand-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-LightItalic.woff2') format('woff2'),
    url('../fonts/Quicksand-LightItalic.woff') format('woff'),
    url('../fonts/Quicksand-LightItalic.ttf') format('truetype'),
    url('../fonts/Quicksand-LightItalic.svg#Quicksand-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Italic.eot');
    src: url('../fonts/Quicksand-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Italic.woff2') format('woff2'),
    url('../fonts/Quicksand-Italic.woff') format('woff'),
    url('../fonts/Quicksand-Italic.ttf') format('truetype'),
    url('../fonts/Quicksand-Italic.svg#Quicksand-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.eot');
    src: url('../fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Regular.woff2') format('woff2'),
    url('../fonts/Quicksand-Regular.woff') format('woff'),
    url('../fonts/Quicksand-Regular.ttf') format('truetype'),
    url('../fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand Dash';
    src: url('../fonts/QuicksandDash-Regular.eot');
    src: url('../fonts/QuicksandDash-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/QuicksandDash-Regular.woff2') format('woff2'),
    url('../fonts/QuicksandDash-Regular.woff') format('woff'),
    url('../fonts/QuicksandDash-Regular.ttf') format('truetype'),
    url('../fonts/QuicksandDash-Regular.svg#QuicksandDash-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}